* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(144deg, rgba(71, 222, 179, 1) 0%, rgba(102, 212, 65, 1) 23%, rgba(240, 247, 95, 1) 49%, rgba(213, 100, 206, 1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.wrapper {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 16px;
    width: 40rem;
    height: 50rem;
    padding: 1rem 2rem;
}

section.screen {
    background-color: white;
    width: 100%;
    height: 7rem;
    border-radius: 16px;
    text-align: right;
    padding: 18px;
    overflow: auto;
    font-size: 50px;
    font-weight: bold;
    overflow: hidden;
}

button {
    border: none;
    border-radius: 10px;
    background-color: white;
    width: 6.5rem;
    height: 6.5rem;
    font-size: 35px;
}

div.calc-button-row button:last-of-type {
    background-color: #E73D83;
}

div.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
}

section.calc-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
}

button.double {
    flex-basis: 46%;
}

button.triple {
    flex-basis: 73%;
}

button:hover,
div.calc-button-row button:hover {
    background-color: #E6D9AA;
}

button:active,
div.calc-button-row button:active {
    background-color: #FFE973;
}

span {
    display: block;
    font-size: 25px;
    color: lightgray;
}